@font-face{
    font-family: 'Courier';
    font-display: swap;
    src: url('../font/CourierPrimeCodeItalic-2ZV8.ttf') format("truetype");
}
@font-face{
    font-family: 'Freak';
    font-display: swap;
    src: url('../font/FreakartpersonaluseBold-2OYAl.otf') format("opentype");
}
@font-face{
    font-family: 'Monday';
    font-display: swap;
    src: url('../font/MondayFeelings-7BD2l.ttf') format("opentype");
}
body {
    font-family: 'Courier','Freak','Monday';
}
