@font-face {
  font-family: "iconfont"; /* Project id 3789262 */
  src: url('//at.alicdn.com/t/c/font_3789262_l1x779ioo6.woff2?t=1669628310444') format('woff2'),
       url('//at.alicdn.com/t/c/font_3789262_l1x779ioo6.woff?t=1669628310444') format('woff'),
       url('//at.alicdn.com/t/c/font_3789262_l1x779ioo6.ttf?t=1669628310444') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-SAG:before {
  content: "\e622";
}

.icon-wendang:before {
  content: "\e603";
  color:deepskyblue;
}

.icon-linux:before {
  content: "\eb39";
  color:yellowgreen
}

.icon-neovim:before {
  content: "\ec2c";
  color:cyan;
}

.icon-rust:before {
  content: "\ec1c";
}

.icon-tupian:before {
  content: "\e67f";
}

.icon-xiazaiwenjian:before {
  content: "\fddf";
}

.icon-cunchu:before {
  content: "\fde3";
}

.icon-tishi:before {
  content: "\fe17";
}

.icon-chaxun:before {
  content: "\fe35";
}
